*{
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
}
body{
   background-image: url(/frontend/src/assets/background-7716491_1920.png);
}

.container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 1.4rem;
   position: relative;
}
.titulo-play{
   display: flex;
   justify-content: center;
   margin-top: 1.5rem
}
.titulo-play h1{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-image: linear-gradient(to bottom, rgb(7, 255, 110),  rgb(0, 162, 255));
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.button{
   position: absolute;
   right: 1%;
   top: 1%  ;
}
.button a button{
   width: 100px;  
   height: 30px;
   background-color: black;
   color: yellow;
   
}