*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbar{
  width: 100vw;
  height: fit-content;
  background-color: transparent;
  position: relative;
  display: flex;  
  align-items: center;
  justify-content: center;
}

.container {
  background-image: url('/frontend/src/assets/background-7716491_1920.png');
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  overflow-x: hidden;
}
#posts {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  flex-wrap: wrap;
  overflow-x: hidden;
  margin-top: 50px;
}

.code-editor {
  color: white;
  max-width: 300px;
  min-width: 150px;
  min-height: 100px;
  background-color: #1d1e22;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 2px;
}

.note-div{
  display: flex;
  flex-direction: column;
  width: 20px ;
  margin-right: 2px;
  align-items: center;
  
}
.code {
  display: flex;
  flex-direction: column;
}

.header {
  gap: 4px;
  display: flex;
  align-items: center;
  margin: 10px;
}

.title {
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1.57px;
  color: rgba(255, 240, 101, 0.938);
}

.icon {
  width: 20px;
  transition: .2s ease;
}

.icon:hover {
  cursor: pointer;
  border-radius: 50px;
  background-color: #6e7281;
}

.editor-content {
  margin: 0 10px 10px;
  color: white;
}

.property {
  margin-left: 30px;
}

.property:hover {
  cursor: text;
}



.color-preview-1,.color-preview-2 {
  height: 8px;
  width: 8px;
  border: 1px solid #fff;
  display: inline-block;
  margin-right: 3px;
}

.color-preview-1 {
  background-color: #1d1e22;
}

.color-preview-1 {
  background-color: rgba(0, 0, 0, 0.5);
}

.upvolt {
  cursor: pointer;

}

.downvolt{
  cursor: pointer;

}

.upvolt.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.downvolt.disabled {
  pointer-events: none;
  opacity: 0.5;
}